main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
