.card_title::after {
  content: "";
  background-image: url("../images/icon-ellipsis.svg");
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  left: 8.5rem;
  top: 2.5rem;
}

// .title_work::after {
// }
