.card_title::after {
  content: "";
  background-image: url("../images/icon-ellipsis.svg");
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 100vw;
}

.title_work {
  @extend .card_title::after;
  left: 2.5rem;
}
