.right_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.color_container {
  position: relative;
  padding-top: 2.5rem;
  border-radius: 15px;
}

.image {
  background-repeat: no-repeat;
  background-position: top right;
  height: 100%;
  width: 100%;
}

.work_container {
  @extend .image;
  background-color: color(light-red1);
  background-image: url(../images/icon-work.svg);
}

.play_container {
  @extend .image;
  background-color: color(soft-blue);
  background-image: url(../images/icon-play.svg);
}

.study_container {
  @extend .image;
  background-color: color(light-red2);
  background-image: url(../images/icon-study.svg);
}

.exercise_container {
  @extend .image;
  background-color: color(lime-green);
  background-image: url(../images/icon-exercise.svg);
}

.social_container {
  @extend .image;
  background-color: color(primary-violet);
  background-image: url(../images/icon-social.svg);
}

.self_care_container {
  @extend .image;
  background-color: color(soft-orange);
  background-image: url(../images/icon-self-care.svg);
}

.card {
  background-color: color(dark-blue);
  padding: 2rem;
  border-radius: 15px;
  position: relative;

  h1 {
    font-weight: 300;
  }
}

.card_title {
  margin-bottom: 1.5rem;
}

.card_sub_title {
  margin-top: 1rem;
}
