.right_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  background-color: color(dark-blue);
  padding: 2rem;
  border-radius: 15px;
  position: relative;

  h1 {
    font-weight: 300;
  }
}

.card_title {
  margin-bottom: 1.5rem;
}

.card_sub_title {
  margin-top: 1rem;
}
