.left_container {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.profile_container {
  background-color: color(primary-blue);
  padding: 1.5rem 5rem 5rem 1.5rem;
  border-radius: 15px;
  z-index: 2;
}

.profile_img {
  height: 10vh;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

.profile_subtitle {
  font-weight: 300;
  font-size: 0.8rem;
  opacity: 0.6;
}

.profile_title {
  font-weight: 300;
}
